img {  
    max-width: 55%;  
    height: auto;  
}  
p, h4, h1, h3, h5, dt {
    font-family: Arial;
}
body{
    background-color: lightgray;
}
p{
    padding-right: 530px;
}

h1{
    font-size: 500%;
    color: rgb(79, 69, 69);
}

.foto {
    color: rgb(154, 15, 15);
}
.endre {
    color:rgb(113, 113, 113)
}


li, a, button {
    font-family: Arial;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color:black;

}
footer, header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
    background-color: grey;
}
.liste {
    list-style: none;
}
li {
    display: inline-block;
    padding: 0px 20px;
}
.liste li a {
    transition: all 0.3s ease 0s;
}
.liste li a:hover {
    color:rgb(154, 15, 15)
}
button {
    padding: 9px 25px;
    background-color: rgb(128, 63, 67);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}
button:hover {
    background-color: rgba(208,31,43,0.8);
}
.artikkel {
    margin: 5%;
}
.innhold {
    margin: 5%;
}