img {  
    max-width: 55%;  
    height: auto;  
}  
p {
    font-family: Arial;
}
h4{
    font-family: Arial;

}
h1{
    font-family: Arial;

}
h3{
    font-family: Arial;
}
body{
    background-color: lightgray;
}
p{
    padding-right: 530px;

}
h5{
    font-family: Arial;
}

body{
    margin-left: 5%;
}
h1{
    font-size: 500%;
    color: rgb(79, 69, 69);
}

.FOTO {
    color: rgb(154, 15, 15);
}
.Endre {
    color:rgb(113, 113, 113)
}

dt{
    font-family: Arial;
}

.footerleft, .footermiddle, .footerright {
    padding-top: 0.6rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.footergrid {
    display: grid;
    grid-template-columns: auto 40vw auto 40px;
}
.footerleft {
    grid-column: 1 / 2;
    grid-row: 3;
    gap: 0.2rem;
}
.footermiddle {
    grid-column: 2 / 3;
    grid-row: 3;
}
.footerright {
    grid-column: 3 / 3;
    grid-row: 3;
}
